$font-family: 'Yu Mincho', 'YuMincho', 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro', 'HGP明朝B', serif;

$breakpoints: (
  "sm" : "screen and (min-width: 400px)",
  "md" : "screen and (min-width: 600px)",
  "lg" : "screen and (min-width: 1000px)",
  "xl" : "screen and (min-width: 1300px)"
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin writing-mode($mode:rl) {
  -webkit-writing-mode: vertical-#{$mode};
  -ms-writing-mode: tb-#{mode};
  writing-mode: vertical-#{mode}; 
}

// apply automated font kerning - put `font-feature-settings: $palt;`
// this feature is able to enable .otf's options
@mixin font-feature-settings($settings: 'palt') {
  -webkit-font-feature-settings: $settings;
  font-feature-settings: $settings;
}

* {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
  // following code is necessary adding to scroll from right to left... 
  writing-mode: vertical-rl;
  margin: 0 auto;
  font-family: 'Yu Mincho', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro', serif;
  background: #313131;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2, 
h3, 
h4, 
p,
a {
  // - not available on most of browser (unless surrounded by span)
  text-combine-upright: digits 2; 
  // text-orientation: upright;
  color: white;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.header{
  display: flex;
  align-items: center;
  // TODO: スクロールバーの高さ分マイナスしないとはみ出る(後でScroll barの高さをJSで取得し、その数値をここに置く)
  width: 64px;
  background: #494949;
  color: #fff;
  padding: 2rem 0;

  @include mq(lg) {
    width: 90px;
    height: calc(100vh - 15px);
  }

  h1 {
    font-size: 32px;
    margin: 0;
  }
}

.nav {
  &__toggle {
    position: relative;
    width: 30px;
    height: 23px;
    margin: 0 0 2rem 0;
  }

  &__bar {
    position: absolute;
    height: 2px;
    width: 30px;
    background: #fff;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 10px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

section {
  display: block;
  min-width: 100%;
  padding: 64px;
}

.content,
.content.shelf {
  max-height: 30em;
}

.content {
  &.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro {
  display: flex;
  align-items: center;
  width: calc(100vw - 64px);

  @include mq(lg) {
    width: calc(100vw - 90px);
  }

  &__text {
    color: #fff;
  }

  &__title {
    font-size: 13px;
  }

  &__content {
    font-size: 18px;
  }
}

.article {
  position: relative;
  width: 16rem;
  height: 22rem;
  margin: 2rem;

  &__img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 10px 20px #252525;
    transition: all .2s linear;
    opacity: 0.8;

    &:hover {
      box-shadow: 0 10px 20px #191919;
      transition: all .2s linear;
      opacity: 1;
    }
  } 

  &__title {
    position: absolute;

    &.ptrn-a {
      top: 0;
      right: 0;
      margin: 2rem 2rem 0 0;
      color: white;
    }

    &.ptrn-b {
      top: 0;
      right: 36%;
      margin: 2rem auto;
    }

    &.ptrn-c {
      top: 0;
      right: initial;
      left: 0;
      margin: 2rem 0 0 2rem;
    }

    &_main {
      margin: 0 4px;
      font-size: 22px;
    }

    &_subs {
      margin: 0 4px;
      font-size: 14px;
    }
  }
}

.tategaki {
  & {
    font-family: $font-family;
    font-size: 1em;
    line-height: 1.75;
    letter-spacing: 0.03em;
    // pkna is "propotional kana"
    @include font-feature-settings('pkna');
    @include writing-mode(rl);
  }
  
  p {
    text-indent: 1em;
    margin: 0 0 0 20px;
  }

  &.tate-b {
    writing-mode: vertical-rl;
    column-width: 12em;
    column-gap: 30px;
    max-width: calc(100vw - 60px);
    letter-spacing: -0.5px;
  }
}

.article-page {
  display: flex;
  flex-direction: column;
  

  &__img {
    width: calc(100vw - 64px);
    object-fit: cover;
    position: relative;

    @include mq(lg) {
      width: calc(50vw - 90px);
      height: calc(100vh - 15px);
    }
  }

  &__title {
    position: absolute;
    margin-top: 90px;
    margin-right: calc(100vw / 4.5);

    @include mq(lg) {
      margin-top: 64px;
      margin-right: calc(100vw / 5.5);
    }

    &_main,
    &_subs {
      margin: 0 8px;
    }

    &_main {
      font-size: 28px;
    }

    &_subs {
      font-size: 18px;
    }
  }
}