@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: 'Yu Mincho', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro', serif;
  background: #ccc; }

h1,
h2,
h3,
h4,
p {
  -webkit-text-orientation: upright;
  text-orientation: upright; }

p {
  font-size: 16px; }

section {
  width: 100%;
  max-width: 100vw;
  min-width: 300px;
  padding: 30px; }

.tategaki {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "HGP明朝B", serif;
  font-size: 1em;
  line-height: 1.75;
  letter-spacing: 0.03em;
  -webkit-font-feature-settings: "pkna";
  font-feature-settings: "pkna";
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-mode;
  writing-mode: vertical-mode; }

.tategaki p {
  text-indent: 1em;
  margin: 0 0 0 20px; }

.tategaki.tate-b {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-column-width: 14em;
  -moz-column-width: 14em;
  column-width: 14em;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  max-width: calc(100vw - 60px); }
